



.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary {
   color:  #FD6e0A;
}
.dark-2 {
color: #474747;

}
.btn-primary {
    background-color: #FD6e0A;
    font-weight: bold;
    color: white;
padding: 10px 35px;
border-radius: 5px;
font-size: 20px;
border: none;
}
/* sevtion p */
.header {
    background-image: url(../img/we-care-wild-R82yGE10_zQ-unsplash.jpg), url(../img/pexels-padrinan-255379.jpg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
font-weight: 800;
font-size: 45px;
/* font-family:'Courier New', Courier, monospace; */
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
   font-size: 20px;   
}
/* banner  section style start*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
} 
.banner-content{
    max-width: 580px;
}
.banner-greeting {
    font-size: 45px;
    font-family: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-prortfolio-picture {
    width: 580px;
}
/* banner  section style end*/

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center {
   text-align: center; 
}
/* main style */
main{
max-width: 1140px;
margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about style */
.about{
    border-radius: 10px;
 padding: 130px 150px;
 text-align: center;
 /* margin-top: 130px; */
}
.about-items {
    display: flex;
    justify-content:space-around;
}
.item-description {
    font-weight: 600px;
    
}
/* icon style */

i {
  background-image: linear-gradient(red, blue, lightgreen, hotpink);
  font-size: 170px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 70px;
  display: inline-block;
}

/* skills-continer style*/


.skills-continer {
display: flex;
gap: 24px;
}

.skill {
  padding: 30px;  
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}

/* resume-container style */

.resume-container {
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600px;
    margin: 20px;
}

.experience-description,.experience-sub-title {
    color: #757575;
}
.resume hr {
    margin: 30px 6px;
}
.resume-downlod-cv{
margin-top: 90px;
}

/* footer style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column {
    width: 50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
height: 64px;
border-radius: 5px;
background-color: #fff;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 24px;
border-style: none;
}

/* responsive design */

.hide{
    display: none;
}
@media screen and (max-width:576px) {
  .skills-continer,
  .resume-container,
  footer,
  .about-items{

    flex-direction: column;
    
  }
  footer,.about{
    padding: 20px;
   /* align-items: center; */
  }
}
